# Runtime data and log files
log
*.log
pid
*.pid

# Build system output
# Coverage directory used by tools like istanbul
coverage
# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
# Dependencies.
node_modules

# User environment data
.lock-wscript
.DS_Store
